body{
	background-image: url("background5.png");
	/*background-color: lightblue;*/
}

#myname {
	margin-left: 1em;
	font-family: futura;
	font-size: 15pt;
	color:#505a66;
}
#myname:hover{
	color:#9fd0e4;
}

#header {
	margin-top: 3.5em;
}

#navigation {
	font-family: futura;
	font-size: 10pt;
	color: #505a66;
	float: right;
	display: inline-block;
	cursor: auto;
	line-height: 1em;
}
#navigation ul {
    list-style-type: none;
    text-decoration: none;
}

#navigation li {
	display: inline;
	padding-right: 3.2em;
}
li a:hover {
    text-decoration: none;
    color:#9fd0e4;
}
a{
	text-decoration: none;
	color:#717577;
}
